/* CUSTOM PROPERTIES */


:root {
  /* Remember: put here only the variables that have a global scope. Otherwise it is better to insert them in the specific closure where they have to act upon. */
  --font-size: 1.1rem;
  --font-family: Helvetica, Arial, sans-serif;
  --opacity: 0.5;
  /* EDIT 20240116 */
  --camera-screen-width: 80vh;
  --camera-screen-height: calc(var(--camera-screen-width) * 0.75);
  /* END EDIT */
  
}

/* ------------------- */
/*        TYPES        */
/* ------------------- */

/* EDIT20230531B*/
html, body {
  height: 100%;
}
/* END EDIT20230531B*/

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

/* ------------------ */
/*       LAYERS       */
/* ------------------ */

.container {
  position: relative;
  width:  100vw;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

.layer {
  position: absolute;
  top: 0px;
  width: 100vw;
  min-height: 100%;
  padding: 0px;
}

.info-card {
  z-index: 10;
}

.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #c0baba;
  z-index: 8;
  width: 100vw;
}

.heading {
  border-bottom: 1px solid #c0baba;
  min-height: 40px;
  line-height: 40px;
  padding-top: 10px;
  background-color: #c0baba; 
  color: #32679A; 
  margin: 0;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 10px;
}

.logo-img {
  margin-top: 1vh;
  height: 90px;
}

.logo-shu {
  margin-top: 1vh;
  height: 90px;
}

.map {
  z-index: 6;
}

.splash {
  left: 20vw;
  width: 80vw;
}

#splashimage {
  width: 100%;
}

/* ----------------- */
/*    UI ELEMENTS    */
/* ----------------- */

/* HIDE BUTTONS */
.hide-button {
  position: absolute;
  top: 1vmin;
  right: 1vmin;
  background-color: #32679A;
  color: white;
  font-size: calc(var(--font-size) * 1.8);
  padding: 1px 7px;
}

.hide-button:hover {
  background-color: #8cc63f;
  color: white;
}

/* BACK BUTTONS */
.back-button {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  background-color: #32679A;
  color: white;
  font-size: calc(var(--font-size) * 1.8);
}

.back-button:hover {
  background-color: #8cc63f;
  color: white;
}

.fa-solid {
  padding: 0;
}

/* SHOW BUTTONS */
.show-button {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  background-color: #32679A;
  color: white;
  font-size: calc(var(--font-size) * 1.8);
  padding: 1px 7px;
}

.show-button.sidebarbtn{
  z-index: 7;
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  border-radius: 10px;
  font-size: 40px;
}

.show-button:hover {
  background-color: #8cc63f;
  color: white;
}

.filter-button {
  position: absolute;
  top: 1vmin;
  left: 17vmin;
  background-color: #32679A;
  color: white;
  font-size: calc(var(--font-size) * 1.7);
}

.filter-button.sidebarbtn{
  z-index: 7;
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  border-radius: 10px;
  font-size: 40px;
  margin-left: 60px;
}

#show-info-card {
  top: 20vh;
  left: 50vw;
  background-color: #00853e;
  color: white;
}

#show-info-card:hover {
  background-color: #8cc63f;
  color: white;
}

/* FILTER */
#filter-dropdown {
  top: 13vh;
  right: 7.6vw;
  background-color: #32679A;
  color: white;
  font-size: calc(var(--font-size) * 1.4); 
  padding: 0.2px;
}

#filter-btn {
  border: none;
  top: 13vh;
  right: 1vmin;
  background-color: #32679A;
  color: white;
  font-size: calc(var(--font-size) * 1.5);
}

/* LANGUAGE BUTTONS */

.italian-button, .english-button {
  background: none;
  border: none;
}

.italian-button > img {
  top: 14vh;
  left: 10.5vw;
  width: 24px;
  height: 17px;
}
.english-button > img {
  top: 14vh;
  left: 25vw;
  width: 24px;
  height: 17px;
}

/* --------------------------- */
/*     Info card elements      */
/* --------------------------- */

#card-container {
  position: absolute;
  border: 6px double ;
  border-radius: 25px;
  left: calc(50vw - 9em);
  top: 6%;
  width: 18em;
}

#card-title {
  font-size: calc(var(--font-size) * 2);
  font-weight: 600;
  font-family: var(--font-family);
  color: #56a446;

}

#card-description {
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 150%;
  margin: 0 4px 15px;
  text-align: center;
  padding: 0 4px;
}

#card-description a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: larger;
  color: #56a446;
}

.img-background {
  margin-top: 30px;
  width: 97%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ---------------- */
/* Listing x pop-up */
/* ---------------- */

.listings {
  margin: 2px;
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
  text-align: center;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.listings .item-default .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: white; 
  background: url(../img/fondinoSHU.svg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px; 
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-youngMakers .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: white; 
  background: url(../img/fondinoSHU.svg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px; 
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-food .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: white; 
  background-color: #d4a323; 
  padding: 10px; 
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-infopoint .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: white; 
  background: url(../img/fondinoSHU.svg)no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px; 
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-shuKids .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: white; 
  background: url(../img/fondinoSHU.svg)no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px; 
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-wellness .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: white; 
  background-color: #56a446;
  padding: 10px; 
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-tourism .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: white; 
  background-color: #29B8CE; 
  padding: 10px; 
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-entrance .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #e51ce5;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-events .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #c52639;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-drones .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #29B8CE; 
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-stopMotion .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #29B8CE; 
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-auditorium .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #29B8CE; 
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-robotArena .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #29B8CE; 
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-bus .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #F5A04C;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-parking .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #1f089f;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-portals .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #9455ef;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-sanGiovanni .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #F5A04C;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-sanGiorgio .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #F5A04C;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-sanPietro .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #F5A04C;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-santaMaria .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #F5A04C;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-privateEvents .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #ef7876;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-toilet .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #d8d208;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-water .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #69ddff;
  padding: 10px;
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sidebar-link {
  font-size: calc(var(--font-size)*0.8);
  display: flex;
  left: 50%;
  transform: translateX(-50%); 
  margin-bottom: 4px;
  position: absolute;
  bottom: 0;
}

.sidebar-link a {
  color: black;
  margin: 0 10px 0 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.marker-default {
  border: none;
  cursor: pointer;
  height: 52px;
  width: 43px;
  background-image: url("../img/markers/icone\ SHU.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.marker-youngMakers {
  border: none;
  cursor: pointer;
  height: 48px;
  width: 43px;
  background-image: url("../img/markers/icone\ SHU\ young.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.marker-infopoint {
  border: none;
  cursor: pointer;
  height: 48px;
  width: 43px;
  background-image: url("../img/markers/infopoint.png");
  background-size: cover;
}

.marker-shuKids {
  border: none;
  cursor: pointer;
  height: 48px;
  width: 43px;
  background-image: url("../img/markers/SHUkids.png");
  background-size: cover;
}

.marker-wellness {
  cursor: pointer;
  height: 60px;
  width: 43px;
  background-image: url("../img/markers/benessere\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.marker-food {
  cursor: pointer;
  height: 59px;
  width: 42px;
  background-image: url("../img/markers/Cibo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* .marker-tourism {
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/monumenti.png");
  background-size: cover;
} */

.marker-entrance {
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/Porte.png");
  background-size: cover;
}

.marker-events {
  filter: hue-rotate(-15deg);
  border: none;
  cursor: pointer;
  height: 52px;
  width: 40px;
  background-image: url("../img/markers/Eventi.png");
  background-size: cover;
}

.marker-robotArena {
  filter: hue-rotate(-15deg);
  border: none;
  cursor: pointer;
  height: 52px;
  width: 40px;
  background-image: url("../img/markers/robotArena.png");
  background-size: cover;
}

.marker-auditorium {
  filter: hue-rotate(-15deg);
  border: none;
  cursor: pointer;
  height: 52px;
  width: 40px;
  background-image: url("../img/markers/auditorium.png");
  background-size: cover;
}

.marker-drones {
  filter: hue-rotate(-15deg);
  border: none;
  cursor: pointer;
  height: 52px;
  width: 40px;
  background-image: url("../img/markers/droni.png");
  background-size: cover;
}

.marker-stopMotion {
  filter: hue-rotate(-15deg);
  border: none;
  cursor: pointer;
  height: 52px;
  width: 40px;
  background-image: url("../img/markers/stopMotion.png");
  background-size: cover;
}

.marker-bus {
  border: none;
  cursor: pointer;
  height: 52px;
  width: 40px;
  background-image: url("../img/markers/02_bus\ stop.png");
  background-size: cover;
}

.marker-parking {
  border: none;
  cursor: pointer;
  height: 47px;
  width: 33px;
  background-image: url("../img/markers/Parcheggio.png");
  background-size: cover;
}

.marker-portals {
  border: none;
  cursor: pointer;
  height: 49px;
  width: 35px;
  background-image: url("../img/markers/Portali\ 2.png");
  background-size: cover;
}

.marker-sanGiovanni {
  border: none;
  cursor: pointer;
  height: 41px;
  width: 35px;
  background-image: url("../img/markers/SanGiovanni1.png");
  background-size: cover;
}

.marker-sanPietro {
  border: none;
  cursor: pointer;
  height: 41px;
  width: 35px;
  background-image: url("../img/markers/SanPietro1.png");
  background-size: cover;
}

.marker-sanGiorgio {
  border: none;
  cursor: pointer;
  height: 44px;
  width: 39px;
  background-image: url("../img/markers/SanGiorgio1.png");
  background-size: cover;
}

.marker-santaMaria {
  border: none;
  cursor: pointer;
  height: 41px;
  width: 35px;
  background-image: url("../img/markers/SantaMaria1.png");
  background-size: cover;
}

.marker-privateEvents {
  border: none;
  cursor: pointer;
  height: 48px;
  width: 41px;
  background-image: url("../img/markers/eventiPrivati.png");
  background-size: cover;
}

.marker-toilet {
  border: none;
  cursor: pointer;
  height: 48px;
  width: 41px;
  background-image: url("../img/markers/toilet.png");
  background-size: cover;
}

.marker-water {
  border: none;
  cursor: pointer;
  height: 48px;
  width: 41px;
  background-image: url("../img/markers/water.png");
  background-size: cover;
}

#filter-marker {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px;
}

#show-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 6px;
}

#marker-dropdown {
  font-size: large;
  background-color: transparent;
  color: white;
}

#marker-dropdown option{
  background-color: #32679A;
}

@media only screen and (max-width: 430px) {

  #filter-dropdown {
    font-size: calc(var(--font-size)*0.8);
  }

  .item {
    font-size: calc(var(--font-size));
  }

  .listings {
    grid-template-columns: 1fr 1fr;
  } 
  
  .listings .item-default .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-infopoint .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-food .title {
    font-size: calc(var(--font-size));
    justify-content: center;
  }
  
  .listings .item-bus .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-parking .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-wellness .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-privateEvents .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-youngMakers .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-drones .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-stopMotion .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-auditorium .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-robotArena .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-toilet .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-water .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-shuKids .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-tourism .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-entrance .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-portals .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-crafts .title {
    font-size: calc(var(--font-size));
  }

  .show-button.sidebarbtn {
    font-size: xx-large;
  }

  .filter-button.sidebarbtn {
    font-size: xx-large;
    margin-left: 50px;
  }

  #marker-dropdown {
    font-size: calc(var(--font-size)*0.6);
  }
}